<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1><%= t('.title_html') %></h1>

<!--<div id='store-component'></div>-->

<ul class="catalog">
  <%= render partial: 'index', locals: {products: @products} %>
</ul>


<%= link_to "Prev", prev_page_url, :remote => true %>
<b id="page"><%= render partial: 'page', locals: {current_page: $current_page} %></b>
<%= link_to "Next", next_page_url, :remote => true %>

